<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="currency_converter_wpf_dotnet.Properties.Settings.CurrencyConverterDbConnectionString"
            connectionString="Data Source=&quot;127.0.0.1, 1434&quot;;Initial Catalog=CurrencyConverterDb;Persist Security Info=True;User ID=sa;Password=yourStrong123Password;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>